<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <a href="{{adminDir}}/demo/" class="btn btn-default btn-sm">demo列表</a>
            <a href="{{adminDir}}/demo/add" class="btn btn-default btn-sm">添加demo</a>
        </p>
        <div class="lists">
            <p>名称：{{demo.name}} </p>
            <p>日期：{{dateFormat demo.created 'yyyy-MM-dd hh:mm:ss'}}</p>
            <p>描述：{{demo.description}}</p>
        </div>
    </div>
</div>