<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <a href="{{adminDir}}/demo/add" class="btn btn-default btn-sm">添加demo</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each demos}}
            <tr>
                <td><a href="{{../adminDir}}/demo/{{id}}">{{name}}</a></td>
                </td>
                <td>{{dateFormat created 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td><a href="{{../adminDir}}/demo/{{id}}/edit" class="btn btn-default btn-xs">编辑</a>&nbsp;

                    <a data-toggle="modal"
                       data-target="#myModal"
                       data-url="{{../adminDir}}/demo/{{id}}/del"
                       class="btn btn-default btn-xs"
                    >删除
                    </a>

                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{#if pageInfo}}
            {{#compare pageInfo.totalPage '>' 1}}
                <ul class="pagination">{{{pagination pageInfo}}}</ul>
            {{/compare}}
        {{/if}}
    </div>
</div>
